[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = "*"
PyMySQL = "*"
cryptic-game = "*"
argparse = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
dev = "python3 app.py --debug"
prod = "python3 app.py"
