[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = "*"
PyMySQL = "*"
cryptic-game = "==0.5.3.dev1"
pyscheme = "*"
sentry-sdk = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.8"

[scripts]
test = "python3 -m unittest discover -v tests"
coverage = "sh coverage.sh"
dev = "python3 main.py --debug"
prod = "python3 main.py"
